.article {
	border: 1px solid var(--border-color);
	margin: 2rem auto 1rem;
	border-radius: 4px;
	padding: 1rem;
	width: calc(100% - 4rem);
	max-width: 60rem;
}

.article .icon {
	margin-right: 1rem;
}

.article img {
	max-width: 100%;
	height: auto;
	margin: 1px auto;
	display: block;
}

.article-author {
	font-weight: 200;
	font-style: oblique;
}

.article-author:not(:last-child):after {
	content: ", "
}
