.header .title {
	font-family: 'Kumar One Outline', cursive;
	color: var(--main-color);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	box-shadow: 0 2px 4px dimgray;
	padding-bottom: 1rem;
}
