@import url('https://fonts.googleapis.com/css?family=Kumar+One+Outline|Montserrat:400,700|Open+Sans:300,400');

@import 'normalize.css';
@import 'variables.css';

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

main {
	padding: 4rem 0;
}
